.slider-control-container {
  width: 100%;
  text-align: center;
}

.slider-label {
  width: 90%;
  text-align: center;
}

.slider-control-field {
  width: 100%;
  /* text-align: center; */
  flex-flow: column;
  width: 90%;
  display: flex;
}

.top-label-container {
  width: 100%;
  display: flex;
}
.top-label-container .right-label {
  margin-left: auto;
}

.bottom-label-container {
  width: 100%;
  display: flex;
}

.bottom-label-container .right-label {
  margin-left: auto;
}
